.header-container {
  width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marvel-logo {
  height: 50px;
  margin: 5px;
}

header nav {
  display: flex;
}

.nav-pages span {
  margin: 0 10px;
  font-size: 18px;
}
